/* General Settings */

.highlight {
    color: #ef7c11;
    text-decoration: underline;
}

.relaxed {
    color: #383838;
}

.bold-text {
  font-weight: bold;
}

.normal-text {
  font-weight: normal;
}

.indent-text {
  font-style: italic;
}

.new-line {
  display: block;
}

.font-increase1 {
  font-size: 15px;
}

/* Header */

.logo h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 10px 20px;
    font-family: Poppins, sans-serif;
    font-style: bold;
}

.logo a {
    color: inherit;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-style: bold;
}

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins, sans-serif;
    padding: 20px;
  }

  .hero h1 {
    margin: 0;
    font-size: 3rem;
    color: #333;
  }

  .hero h2 {
    margin: 10px 0 0;
    font-size: 1.5rem;
    color: #666;
    font-weight: normal;
  }

/* Navigation */

.nav-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    background-color: orange;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkorange;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
    font-weight: bold;
    animation: fadeOut 0.3s ease-in-out;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content input {
    width: 90%;
    display: block;
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-footer {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.modal-footer a {
    color: orange;
    text-decoration: none;
}

.modal-footer a:hover {
    text-decoration: underline;
}

/* Input Section */

.link-container { /* Container for the links */
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: faydeIn 1s forwards;
}
@keyframes faydeIn { /* Fade in animation for the links */
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.link-box { /* Box for the link */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid orange;
    border-radius: 10px;
    width: 250px; /* Width of the link */
    height: 250px; /* Height of the link */
    padding: 20px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
} 
.link-box:hover { /* Hover effect for the link */
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.link-title { /* Title for the link */
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle-box {
    display: inline-block;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
}
.subtitle-box .subtitle-text {
    color: #fff;
    font-size: 1rem;
    vertical-align: middle;
}
.subtitle-box .arrow {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
    vertical-align: middle;
}
  
.subtitle-box::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

/* Simple Footer Section */

.simple-footer {
  position: relative;
  top: 1200px;
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid orange;
  font-size: 18px;
  color: #333;
}

/* Fonts */

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}